<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>THIRSTEE Edit Page!!</h1>
    <form action="/thirstee/<%=beery.id%>?_method=PUT" method="POST">
      Name: <input type="text" name="name" value="<%=beery.name%>"/><br/>
      Street: <input type="text" name="street" value="<%=beery.street%>"/><br/>
      City: <input type="text" name="city" value="<%=beery.city%>"/><br/>
      State: <input type="text" name="state" value="<%=beery.state%>"/><br/>
      Country: <input type="text" name="country" value="<%=beery.country%>"/><br/>
      tags: <input type="text" name="tags" value="<%=beery.tag_list%>"/><br/>
      <input type="submit" value="Submit Changes"/>
    </form>
  </body>
</html>
