<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Thirstee Show Page!!</h1>
    The <%=beers.name%> is in  <%=beers.city%>.
    <img src="<%= beers.img %> ">

    <form action= "/<%=beers.id%>?_method=DELETE" method="POST">
      <input type="submit" value="DELETE"/>
    </form>
    <a href="thirstee/<%=beers.id%>/edit">Edit product</a>  <!--when clicked, doubles down on thirstee.
      if I take it out, only returns :id/edit.  Why??  -->
<nav>
  <a href="/thirstee">Back to Breweries</a>
</nav>
  </body>
</html>
<!--  -->
